@import "compass/css3";
@import "_animation";

html {
  background: black;
}

.container {
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 1280px;
  height: 720px;
  background: url('../images/bg1.jpg') repeat-x;
  margin-left: -640px;
  margin-top: -360px;
}

.platform {
  background-color: #bada55;
  position: absolute;
  @include border-radius(5px);
}

.player {
  height: 140px;
  left: 0;
  margin-left: -42px;
  margin-top: -140px;
  position: absolute;
  top: 0;
  width: 84px;
}

.segway {
  height: 140px;
  width: 84px;
  @include transition(all 0.3s);
  @include transform-origin(50%, 100%);
  background: url('images/player.png') top left no-repeat;
}
